<div class="col col-lg-2">
  <div class="card">
    <div class="card-header">
      <a href="/contest/<%= data.cid %>" style="text-decoration: none;">Musobaqa</a>
    </div>
    <ul class="list-group list-group-flush">
      <a href="/contest/<%= data.cid %>/tasks" class="list-group-item list-group-item-action <% if (pageInfo == "tasks") { %> active <% } %> ">Masalalar</a>
      <a href="/contest/<%= data.cid %>/attempts" class="list-group-item list-group-item-action <% if (pageInfo == "attempts") { %> active <% } %>">Urinishlar</a>
      <a href="/contest/<%= data.cid %>/retings" class="list-group-item list-group-item-action <% if (pageInfo == "retings") { %> active <% } %>">Natijalar</a>
    </ul>
  </div>
  <div class="card mt-2">
    <ul class="list-group ">
      <li class="list-group-item"><i class="fa fa-calendar" aria-hidden="true"></i> <%= contest.start %>  </li>
      <li class="li-list list-group-item"><i class="fa fa-window-close" aria-hidden="true"></i> <%= contest.end %> </li>
      <li class="li-list list-group-item"><i class="fa fa-hourglass-end" aria-hidden="true"></i> <span id="current_date"></span> </li>
      <li class="li-list list-group-item"><span class="badge bg-<% if (contest.eventnum == '1') 
         { %>primary <% } else if (contest.eventnum == '0') 
         { %>success <% } else { %>danger <% } %>"> <%= contest.event %>  
        </span>
       </li>
    </ul>
  </div>
</div>

