<div class="col col-lg-2">
    <div class="card">
        <div class="card-header">
            <b>Menyu</b>
        </div>
        <ul class="list-group list-group-flush">
            <a href="/contest/<%= data.contest_id %>" class="list-group-item list-group-item-action <% if (pageInfo == 'main') { %> active <% } %>">Musobaqa</a>
            <a href="/contest/<%= data.contest_id %>/tasks" class="list-group-item list-group-item-action <% if (pageInfo == 'tasks') { %> active <% } %>">Masalalar</a>
            <a href="/contest/<%= data.contest_id %>/attempts" class="list-group-item list-group-item-action <% if (pageInfo == 'attempts') { %> active <% } %>">Urinishlar</a>
            <a href="/contest/<%= data.contest_id %>/retings" class="list-group-item list-group-item-action <% if (pageInfo == 'retings') { %> active <% } %>">Natijalar</a>
        </ul>
    </div>
    <div class="card mt-2">
        <ul class="list-group">
            <li class="list-group-item">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <%= contest.start_date %>
            </li>
            <li class="li-list list-group-item">
                <i class="fa fa-calendar-times-o" aria-hidden="true"></i>
                <%= contest.end_date %>
            </li>
            <li class="li-list list-group-item">
                <i class="fa fa-hourglass" aria-hidden="true"></i>
                <span id="current_date"></span>
            </li>
            <li class="li-list list-group-item"><span class="badge bg-<% if (contest.eventnum == '1') { %>primary <% } else if (contest.eventnum == '0') { %>success <% } else { %>danger <% } %>"><%= contest.event %></span></li>
        </ul>
    </div>
</div>
