<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../basic/head.ejs") %>
        <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
        <script>
            quill = {};
        </script>
    </head>

    <body>
        <%- include("../basic/navbar.ejs") %>

        <div class="container">
            <div class="row">
                <%- include("./sidebar.ejs") %>
                <div class="col">
                    <div class="card">
                        <div class="card-header"><b>Contest Add</b></div>
                        <div class="card-body">
                            <form method="post">
                                <input type="hidden" name="contest_id" value="<%= contest.contest_id %>" />
                                <div class="mb-3">
                                    <label class="form-label">Name</label>
                                    <input type="text" name="name" class="form-control" placeholder="Round 1" value="<%= contest.name %>" />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Content</label>
                                    <%- include("./textarea.ejs", { id: "content", value: contest.content }) %>
                                    <!-- <textarea class="form-control" name="content" id="editor1" rows="3"><%= contest.content %></textarea> -->
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Start</label>
                                    <input type="datetime-local" name="start_date" id="start_date" class="form-control" placeholder="10:03:2000 10:00:00" value="<%= contest.start_date %>" />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">End</label>
                                    <input type="datetime-local" name="end_date" id="end_date" class="form-control" placeholder="10:03:2000 10:00:00" value="<%= contest.end_date %>" />
                                </div>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </form>
                        </div>
                    </div>

                    <div class="card my-2">
                        <div class="card-header"><b>Task List</b></div>
                        <div class="card-body">
                            <form action="/admin/addtasks" method="post" class="m-2 w-50">
                                <div class="form-group">
                                    <input type="hidden" name="contest_id" value="<%= contest_id %>" />
                                    <input type="text" class="form-control" name="task_id" placeholder="Savol id" />
                                </div>
                                <button type="submit" class="mt-2 btn btn-primary">Save</button>
                            </form>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Edit</th>
                                        <th>Test</th>
                                        <th>Id</th>
                                        <th>Code</th>
                                        <th>Nomi</th>
                                        <th>All test</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i=0;i< tasks.length;i++) { %>
                                    <tr>
                                        <td><a href="/admin/tasksadd?task_id=<%= tasks[i].task_id %>">Edit</a></td>
                                        <td><a href="/admin/deltasks?task_id=<%= tasks[i].task_id %>&contest_id=<%= contest_id %>">Delete</a></td>
                                        <td><%= tasks[i].task_id %></td>
                                        <td><%= tasks[i].code %></td>
                                        <td><%= tasks[i].name %></td>
                                        <td><%= tasks[i].all_test %></td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include("../basic/footer.ejs") %>
    </body>
</html>
