<div id="<%= id %>"><%- value %></div>
<input type="hidden" name="<%= id %>" value="<%= value %>" />

<script>
    quill["<%= id %>"] = new Quill("#<%= id %>", {
        modules: {
            toolbar: [
                ["bold", "italic", "underline", "strike"], // toggled buttons
                ["blockquote", "code-block"],
                ["link", "image", "video", "formula"],
                [{ header: 1 }, { header: 2 }], // custom button values
                [{ list: "ordered" }, { list: "bullet" }, { list: "check" }],
                [{ script: "sub" }, { script: "super" }], // superscript/subscript
                [{ indent: "-1" }, { indent: "+1" }], // outdent/indent
                [{ direction: "rtl" }], // text direction
                [{ size: ["small", false, "large", "huge"] }], // custom dropdown
                [{ header: [1, 2, 3, 4, 5, 6, false] }],
                [{ color: [] }, { background: [] }], // dropdown with defaults from theme
                [{ font: [] }],
                [{ align: [] }],
                ["clean"], // remove formatting button
            ],
        },
        theme: "snow",
    });

    function syncQuillToTextarea() {
        const textarea = document.querySelector('input[name="<%= id %>"]');
        const content = quill["<%= id %>"].root.innerHTML;
        textarea.value = content;
    }

    quill["<%= id %>"].on("text-change", syncQuillToTextarea);
</script>
