<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Mening kodim: <%= data.contest.name %> musobaqasi</title>
        <%- include("../basic/head.ejs") %>
        <link rel="stylesheet" href="/codemirror/codemirror.css" />
        <link rel="stylesheet" href="/codemirror/seti.css" />
    </head>

    <body>
        <%- include("../basic/navbar.ejs") %>

        <div class="container">
            <div class="row">
                <%- include("../basic/contest.ejs") %>
                <div class="col-7">
                    <div class="card">
                        <div class="card-header">
                            Mening kodim
                            <b><%= sid %></b>
                        </div>
                        <div class="card-body">
                            <textarea id="code-view" style="border-right: 6px" cols="50" rows="50" disabled><%= code %></textarea>
                            <br />
                            <script>
                                document.write(JSON.stringify("<%= err %>"));
                            </script>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-3">
                    <div class="card">
                        <div class="card-header">
                            <b>Masalalar</b>
                        </div>
                        <ul class="list-group list-group-numbered">
                            <% for(var i=0;i< tasks.length;i++) { %>
                            <a href="/contest/<%= contest.id %>/tasks?task_id=<%= tasks[i].id %>" class="li-list list-group-item list-group-item-action"><%= tasks[i].name %></a>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <%- include("../basic/footer.ejs") %>
        <script src="/codemirror/codemirror.js"></script>
        <script src="/codemirror/matchbrackets.js"></script>
        <script src="/codemirror/javascript.js"></script>
        <script src="/codemirror/show-hint.js"></script>
        <script src="/codemirror/clike.js"></script>
        <script src="/codemirror/go.js"></script>
        <script src="/codemirror/python.js"></script>
        <script src="/javascript/main.code.js"></script>
    </body>
</html>
