<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../basic/head.ejs") %>
        <style>
            .img-thumbnail {
                padding: 0.25rem;
                background-color: #fff;
                border: 1px solid #dee2e6;
                border-radius: 0.25rem;
                max-width: 100%;
                height: auto;
            }

            .social-link {
                width: 30px;
                height: 30px;
                border: 1px solid #ddd;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #666;
                border-radius: 50%;
                transition: all 0.3s;
                font-size: 0.9rem;
            }
        </style>
    </head>

    <body>
        <% if(data.user_id) { %> <%- include("../basic/topnav.ejs") %> <% } else { %> <%- include("../basic/stopnav.ejs") %> <% } %>

        <div class="container">
            <div class="row">
                <%- include("../basic/sidenav.ejs") %>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <b>Bizning jamoa</b>
                        </div>
                        <div class="card-body">
                            <div class="row text-center">
                                <% for(var i=0;i< team.length;i++ ) { %>
                                <!-- Team item-->
                                <div class="col-xl-3 col-sm-6 mb-5">
                                    <div class="bg-white rounded shadow-sm py-5 px-4" style="height: 100%">
                                        <img src="<%= team[i].img %>" alt="not" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" />
                                        <h5 class="mb-0"><%= team[i].full_name %></h5>
                                        <span class="small text-uppercase text-muted"><%= team[i].title %></span>
                                        <ul class="social mb-0 list-inline mt-3">
                                            <li class="list-inline-item">
                                                <a href="<%= team[i].fcurl %>" class="social-link" target="_blank"><i class="fa fa-facebook-f"></i></a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="<%= team[i].tgurl %>" class="social-link" target="_blank"><i class="fa fa-telegram"></i></a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="<%= team[i].insurl %>" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="<%= team[i].lnurl %>" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End-->
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include("../basic/footer.ejs") %>
    </body>
</html>
