<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../basic/head.ejs") %>
    </head>

    <body>
        <%- include("../basic/navbar.ejs") %>

        <div class="container">
            <div class="row">
                <%- include("../basic/sidebar.ejs") %>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <b>Musobaqalar</b>
                        </div>
                        <div class="card-body">
                            <table class="table table-sm table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nomi</th>
                                        <th>Boshlanish</th>
                                        <th>Tugash</th>
                                        <th style="width: 50px">Uzunlik</th>
                                        <th>Holati</th>
                                        <th>Ko'rish</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i=0;i< arr.length;i++) { %>
                                    <tr>
                                        <td><%= arr[i].contest_id %></td>
                                        <td><b><%= arr[i].name %></b></td>
                                        <td><%= arr[i].start_date %></td>
                                        <td><%= arr[i].end_date %></td>
                                        <td><%= arr[i].during_time %>+</td>
                                        <td>
                                            <span class="badge text-<% if (arr[i].eventnum == '1') { %> primary <% } else if (arr[i].eventnum == '0') { %>success <% } else { %>danger <% } %>"><%= arr[i].event %></span>
                                        </td>
                                        <td><a href="/contest/<%= arr[i].contest_id %>" class="btn btn-primary btn-sm">Kirish</a></td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                            <p><%- include("../basic/alert") %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include("../basic/footer.ejs") %>
    </body>
</html>
